* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #f4f4f4;
    --color-dark: #222;
    --color-orange: #ff6600;

}

html {
    scroll-behavior: smooth;
}

.hero {
    height: 100dvh;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .4)),
    url(../images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;

    .header-hero {
        background-color: aqua;

        h1 {
            color: var(--color-light)
        }
    }
}

section {
    height: 100dvh;
}

